{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>\Backslash</title>
    <link
      rel="stylesheet"
      href="{% static 'CSS/icons/font/bootstrap-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <script src="{% static 'CSS/tailwind' %}"></script>
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script src="{% static 'JS/chartjs.min.js' %}"></script>
    <script src="{% static 'JS/react/react.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react.development.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.development.js' %}"></script>
    <script src="{% static 'JS/react/babel.min.js' %}"></script>
    <script src="{% static 'JS/react/react-router-dom.min.js' %}"></script>
    <script src="{% static 'JS/markdown-react.js' %}"></script>
    <script src="{% static 'JS/app.jsx' %}" type="text/jsx"></script>
  </head>

  <body class="overflow-x-hidden" id="root">
    <div class="flex items-center justify-center w-full h-[100vh]">
      <div class="loader text-[3px] border-l-gray-900 border-gray-300"></div>
    </div>
  </body>
  <script type="text/jsx">
    const Context = createContext();

    const App = () => {
      const [isReady, setIsReady] = useState(true);
      const [data, setData] = useState({csrfmiddlewaretoken: "{{ csrfmiddlewaretoken }}"});

      return (
        <Router>

          {isReady
          ?(
            <Context.Provider value={ { data:[data, setData] } }>
              <Switch>

                <Route path="/accounts/sign-in">
                  <Auth page="Sign-in" />
                </Route>

                <Route path="/accounts/sign-up">
                  <Auth page="Sign-up" />
                </Route>

              </Switch>
              
          </Context.Provider>
          )
          :(
            <div className="flex items-center justify-center w-full h-[100vh]">
              <div className="loader text-[3px] border-l-gray-900 border-gray-300"></div>
            </div>
          )}

        </Router>
      );
    };
    ReactDOM.render(<App />, document.body);
  </script>
</html>
