{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BACKSLASH - Home</title>
    <link
      rel="stylesheet"
      href="{% static 'CSS/icons/font/bootstrap-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/github.min.css' %}" />
    <script src="{% static 'CSS/tailwind' %}"></script>
    <script src="{% static 'CSS/tailwind' %}"></script>
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script src="{% static 'JS/react/react.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react.development.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.development.js' %}"></script>
    <script src="{% static 'JS/react/babel.min.js' %}"></script>
    <script src="{% static 'JS/react/react-router-dom.min.js' %}"></script>
    <script src="{% static 'JS/highlight.min.js' %}"></script>
    <script src="{% static 'JS/marked.js' %}"></script>
    <script src="{% static 'JS/purity.min.js' %}"></script>
    <script src="{% static 'JS/app.jsx' %}" type="text/jsx"></script>
  </head>

  <body class="overflow-x-hidden">
    <main id="root" class="overflow-x-hidden h-[100vh] w-[100vw]">
      <main
        class="intro overflow-x-hidden h-full w-full flex-col flex items-center justify-around"
      >
        <h1
          id="intro"
          class="text-4xl w-[10ch] text-center whitespace-nowrap overflow-hidden"
        >
          BACKSLASH
        </h1>
        <span class="text-gray-500 text-lg">For share your idea</span>
      </main>
    </main>
  </body>
  {% comment %} just for test UI {% endcomment %}
  <script>
    const tempminiuser = {
      id: 235,
      username: "username",
      name: "user",
      profile: "/media/simple.jpg",
      bio: "Hello world ;)",
      email: "admin@admin.com",
      fallowers: 35,
      posts: [],
      fallowed: true,
    };

    const temptag = { id: 5, name: "OS", slug: "tag-hi.asdg", fallowed: true };
    const temptags = [temptag, temptag, temptag];
    const tempcomment = {
      user: {
        username: "username",
        name: "user's name",
        profile: "/media/simple.jpg",
      },
      text: " klsadl sadldkg lkasdglk sadgl alkdsg ;lkaglk ",
      date: 1652558214827,
    };

    const temptext =
      'This is my first post and I\'m Writing this at 14:00 o\'clock .\nI\'m very happy because this is my secend project I finished.\n\n-------\n\nother ways this for test *code* highlighting:\n\n```c\n// hello world\n# include <stdio.h>\n\nint main ()\n{\n    printf("%s", "Hello World");\n    return 0;\n}\n\n```';

    const tempuser = {
      id: 235,
      username: "username",
      name: "user",
      profile: "/media/simple.jpg",
      bio: "Hello world ;)",
      email: "admin@admin.com",
      fallowers: 345,
      fallowings: 5346346,
      tags: 246346346,
      posts: [
        {
          id: 2,
          date: 1652558214827,
          title: "Assemply",
          slug: "slug-of-post",
          user: tempminiuser,
          tags: temptags,
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla vel perspiciatis nam modi odio!",
        },
      ],
    };
    const tempminipost = {
      id: 2,
      date: 1652558214827,
      title: "Assemply",
      slug: "slug-of-post",
      user: tempminiuser,
      tags: temptags,
      text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla vel perspiciatis nam modi odio!",
      bookmark: 1,
    };

    const temppost = {
      id: 2,
      date: 1652558214827,
      title: "Hello world in assemply",
      slug: "slug-of-post",
      user: {
        id: 235,
        username: "username",
        name: "user",
        profile: "/media/simple.jpg",
        bio: "Hello world ;)",
        email: "admin@admin.com",
        fallowers: 35,
        posts: [],
        fallowed: true,
      },
      tags: temptags,
      liked: 0,
      bookmark: 1,
      likes: 234234,
      comments: 234235,
      text: temptext,
    };
  </script>
  <script type="text/jsx">
    const Context = createContext();
    const csrfmiddlewaretoken = "{{ csrfmiddlewaretoken }}";


    const App = () => {
      
      const setAlert = (func, condition, msg) =>{
        if (condition) {
          func();
        } else {
          setData({ ...data, ["alert"]: msg });
          setTimeout(() => setData({ ...data, ["alert"]: null }), 5000);
        }
      }
    
      const [data, setData] = useState({
        csrfmiddlewaretoken: csrfmiddlewaretoken,
        me: {},
        setAlert: setAlert,
      });
      const [isReady, setIsReady] = useState(false);
      const [state, setState] = useState("Home");
    
      useEffect(() => {
        setInterval(() => {
          const path = window.location.pathname;
          if (path.startsWith("/accounts")) {
            setState("auth");
          } else if (path == "/") {
            setState("Home");
          } else if (path == "/search") {
            setState("Search");
          } else if (path == "/bookmarks") {
            setState("Bookmarks");
          } else if (path == "/me/settings") {
            setState("Settings");
          } else if (path == "/write") {
            setState("Write");
          } else if (path == "/me") {
            setState("Me");
          } else {
            setState(null);
          }
        }, 200);
      }, [state]);
    
    
      useEffect(() => {
        // emulate give from server
        setTimeout(() => {
          setData({...data,["me"]: tempuser});
          setIsReady(true);
        }, 1000);
      }, [1]);
    
      return (
        <Router>
    
          <Context.Provider value={[data, setData]}>
            <Header state={state} loading={!isReady} />
              <Switch>
                <Route path="/@:username/:postSlug">
                  <PostDetail />
                </Route>
                <Route path="/@:username">
                  <PeopleView />
                </Route>
                <Route exact path="/">
                    <Home />
                </Route>
    
                <Route path="/t/:tag">
                  <TagView />
                </Route>
                <Route path="/search">
                  <SearchView />
                </Route>
                <Route path="/bookmarks">
                  <BookmarkView />
                </Route>
                <Route path="/write">
                  <WriteView />
                </Route>
                <Route path="/me/settings">
                  <SettingsView />
                </Route>
                <Route path="/me">
                  <MeView />
                </Route>
    
                <Route path="/accounts/sign-in">
                  <Auth page="Sign-in" />
                </Route>
    
                <Route path="/accounts/sign-up">
                  <Auth page="Sign-up" />
                </Route>
    
              </Switch>
            <Navbar state={state} loading={!isReady} />
          </Context.Provider>
          
          <div className={`transition-all bottom-[20%] fixed flex items-center w-screen justify-center right-0 ${data.alert?"":"opacity-0 pointer-events-none"}`}>
            <div id="alert" className="border-2 px-6 py-2 z-[9999] rounded-full bg-white">
              {data.alert}
            </div>
          </div>
          
        </Router>
        );
    };
    
    ReactDOM.render(<App />, document.getElementById('root'));
    
  </script>
</html>
