{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BACKSLASH {% if title %}- {{title}}{% endif %}</title>
    <link
      rel="stylesheet"
      href="{% static 'CSS/icons/font/bootstrap-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/github.min.css' %}" />
    <script src="{% static 'CSS/tailwind' %}"></script>
    <script src="{% static 'CSS/tailwind' %}"></script>
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script src="{% static 'JS/react/react.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react.development.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.development.js' %}"></script>
    <script src="{% static 'JS/react/babel.min.js' %}"></script>
    <script src="{% static 'JS/react/react-router-dom.min.js' %}"></script>
    <script src="{% static 'JS/highlight.min.js' %}"></script>
    <script src="{% static 'JS/marked.js' %}"></script>
    <script src="{% static 'JS/purity.min.js' %}"></script>
    <script src="{% static 'JS/app.jsx' %}" type="text/jsx"></script>
  </head>

  <body class="overflow-x-hidden">
    <main id="root" class="overflow-x-hidden h-[100vh] w-[100vw]">
      <main
        class="intro overflow-x-hidden h-full w-full flex-col flex items-center justify-around"
      >
        <h1
          id="intro"
          class="text-4xl w-[10ch] text-center whitespace-nowrap overflow-hidden"
        >
          BACKSLASH
        </h1>
        <span class="text-gray-500 text-lg">For share your idea</span>
      </main>
    </main>
  </body>
  <script type="text/jsx">
    const Context = createContext();
    const csrfmiddlewaretoken = "{{ csrfmiddlewaretoken }}";

    const App = () => {
      const [isReady, setIsReady] = useState(false);
      const [data, setData] = useState({
        csrfmiddlewaretoken: csrfmiddlewaretoken,
        me: {},
        setIsReady: setIsReady,
      });
      const [state, setState] = useState("Home");
    
      useEffect(() => {
        setInterval(() => {
          const path = window.location.pathname;
          if (path.startsWith("/accounts")) {
            setState("auth");
          } else if (path == "/") {
            setState("Home");
          } else if (path == "/search") {
            setState("Search");
          } else if (path == "/bookmarks") {
            setState("Bookmarks");
          } else if (path == "/me/settings") {
            setState("Settings");
          } else if (path == "/write") {
            setState("Write");
          } else if (path == "/me") {
            setState("Me");
          } else {
            setState(null);
          }
        }, 200);
      }, [state]);
      
      return (
        <Router>
    
          <Context.Provider value={[data, setData]}>
            <Header state={state} loading={!isReady} />
              <Switch>
                <Route path="/@:username/:postSlug">
                  <PostDetail />
                </Route>
                <Route path="/@:username">
                  <PeopleView />
                </Route>
                <Route path="/write/:id">
                  <WriteView />
                </Route>
                <Route exact path="/">
                    <Home />
                </Route>
                <Route path="/t/:name">
                  <TagView />
                </Route>
                <Route path="/search">
                  <SearchView />
                </Route>
                <Route path="/bookmarks">
                  <BookmarkView />
                </Route>
                <Route path="/write">
                  <WriteView />
                </Route>
                <Route path="/me/settings">
                  <SettingsView />
                </Route>
                <Route path="/me">
                  <MeView />
                </Route>
                <Route path="/accounts/sign-in">
                  <Auth page="Sign-in" />
                </Route>
                <Route path="/accounts/sign-up">
                  <Auth page="Sign-up" />
                </Route>
    
              </Switch>
            <Navbar state={state} loading={!isReady} />
          </Context.Provider>
          
          <div id="msgContainer" className="transition-all bottom-[20%] fixed flex items-center w-screen justify-center right-0 opacity-0 pointer-events-none z-30">
            <div id="msg" className="px-6 py-2 rounded-full bg-gray-900 text-white">
            </div>
          </div>
          
        </Router>
        );
    };
    
    ReactDOM.render(<App />, document.getElementById('root'));
    
  </script>
</html>
